@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
:root {
	--main-gray: #dddddd;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 16px; /* let's set explicitly */
}
body {
	margin: 0;
	background-color: #777777;
}
@media (min-width: 60em) {
	body {
		margin-left: calc(100vw - 100%); /* fixes the scrollbar jumping issue, see https://stackoverflow.com/q/6357870/3995261 */
	}
}
.wrapper {
	background-color: var(--main-gray);

	width: 40em;
	max-width: 100%;
	/* horizontal align center */
	margin: 0 auto;

	/* stick footer to the bottom if the content is not long enough (see margin-top: auto) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.page-header, main, .wrapper__footer {
	padding-left: 1rem;
	padding-right: 1rem;
	/* add some padding left and right, should be used on mobile */
}

.page-header {
	text-align: center;
	background-color: black;
	color: var(--main-gray);
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-bottom: 0.1em;
}
.page-header__title {
	padding: 0.25em 0 0.3em;
	font-size: 2rem;
	font-weight: 700;
}
.page-header__subtitle {
	padding: 0.5em 0;
}

.navigation {
	padding: 0; margin: 0;
	text-align: center;
	background-color: black;
	color: var(--main-gray);
}
.navigation__link {
	display: inline-block; padding: 1em 2em;
	text-decoration: none;
	color: inherit;
}
.navigation__link:hover { color: white; }
.navigation__link_currently-opened {
	font-weight: bold;
	pointer-events: none;
	cursor: default;
	background-color: #202020;
}

main {
	padding-top: 1em;
	padding-bottom: 1em;
	/*flex: 1 0 auto; /* growable non-shinkable: make footer stick to bottom */
}
main header {
	font-weight: 700;
	font-size: 1.25em;
	margin-top: 1.0em; margin-bottom: 0.3em;
}
main :first-child header { margin-top: 0em; }
main p, main section>ul, main section>ol {
	margin-top: 0.2em; margin-bottom: 0.2em;
}
main ul, main ol { padding-left: 1.6em; }
main a { color: #777777; }

.donation-form {
	display: flex;
}
.donation-form__image {
	height: 2.5em;
	margin: 1em auto;
}

.wrapper__footer {
	background-color: black;
	color: var(--main-gray);
	
	text-align: center;
	font-size: 0.8rem;
	
	margin-top: auto; /* https://stackoverflow.com/a/47640893/3995261 */
	width: 100%;
	box-sizing: border-box;
	padding-top: 1em;
	padding-bottom: 1em;
}

::selection {
	background: #bbbbbb;
}
/* scrollbars and parts of browser interface are also grey */