@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
:root {
	--main-gray: #dddddd;
	--pale-black: #202020;
	--footer-height: 2.8rem;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 16px; /* let's set explicitly */
}
body {
	margin: 0;
	background-color: #777777;
}
.wrapper {
	background-color: var(--main-gray);
	/* horizontal align center */
	width: 40em;
	max-width: 100%;
	margin: 0 auto; /* fix the scrollbar jumping issue, see https://stackoverflow.com/q/6357870/3995261 */
	/* footer should be attached to the bottom if the content is not long enough */
	min-height: 100vh;
	position: relative;
}
.page_header, main, footer {
	padding-left: 1rem;
	padding-right: 1rem;
	/* add some padding left and right, should be used on mobile */
}

.page_header {
	text-align: center;
	background-color: black;
	color: var(--main-gray);
	padding-bottom: 1.5em;
	margin-bottom: 0.1em;
}
.page_header .title {
	padding: 1em 0 0.3em;
	font-size: 2rem;
	font-weight: 700;
}
.page_header .subtitle {
	padding: 0.5em 0;
}

nav { display: block; }
nav ul {
	padding: 0; margin: 0;
	background-color: black;
}
nav li { display: inline-block; }
nav li a {
	display: inline-block; padding: 1em 2em;
	border-right: thin solid var(--pale-black);
	color: var(--main-gray);
	text-decoration: none;
}
nav li a:hover { color: white; }
nav .currently_opened {
	font-weight: bold;
	pointer-events: none;
	cursor: default;
	background-color: var(--pale-black);
}

main {
	padding-top: 1em;
	padding-bottom: calc(var(--footer-height) + 1em);
}
main header {
	font-weight: 700;
	font-size: 1.25em;
	margin-top: 1.0em; margin-bottom: 0.3em;
}
ul, ol { padding-left: 1.6em; }
main :first-child header { margin-top: 0em; }
main p, main section>ul, main section>ol {
	margin-top: 0.2em; margin-bottom: 0.2em;
}
main a { color: #777777; }

footer {
	background-color: black;
	color: var(--main-gray);
	
	text-align: center;
	font-size: 0.8rem;
	
	width: 100%;
	height: var(--footer-height);
	box-sizing: border-box;
	padding-top: 1em;
	padding-bottom: 1em;
	position: absolute;
	bottom: 0;
}